body {
  background-color: rgb(179, 182, 184);
}
a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  border-radius: 12px;
  height: 40px;
  margin-bottom: 36px;
  max-width: 600px;
  width: 100%;
  padding: 0 12px;
}

.pokemons {
  padding: 48px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.pokemon {
  padding: 12px;
  border: 3px solid #ce3636;
  background-color: rgba(109, 109, 109, 0.405);
  border-radius: 16px;
}

.new-feature {
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 0;
  right: 0;
  background: #ce3636;
  padding: 12px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: end;
  gap: 24px;
  justify-content: flex-end;
  margin-bottom: 48px;
  background-color: #ce3636;
  border-radius: 16px;
  padding: 20px;
}

.input-searcher {
  border: none;
  padding: 16px;
  border-radius: 5px;
  width: 50%;
  margin: 16px;
}

.selector {
  border: none;
  border-radius: 6px;
  padding: 16px;
  background-color: rgb(90, 84, 84);
  color: white;
}

.toolbox {
  display: flex;
  justify-content: space-between;
}
