@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(179, 182, 184);
}

button {
  background: #fff;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 3px;
}

input:not([type='checkbox']) {
  height: 32px;
  padding: 0 12px;
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  border-radius: 12px;
  height: 40px;
  margin-bottom: 36px;
  max-width: 600px;
  width: 100%;
  padding: 0 12px;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.pokemon {
  padding: 12px;
  border: 3px solid #ce3636;
  background-color: rgba(109, 109, 109, 0.405);
  border-radius: 16px;
}

.new-feature {
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 0;
  right: 0;
  background: #ce3636;
  padding: 12px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 48px;
  background-color: #ce3636;
  border-radius: 16px;
  padding: 20px;
}

.input-searcher {
  border: none;
  padding: 16px;
  border-radius: 5px;
  width: 50%;
  margin: 16px;
}

.selector {
  border: none;
  border-radius: 6px;
  padding: 16px;
  background-color: rgb(90, 84, 84);
  color: white;
}

.toolbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.mb-2 {
  margin-bottom: 12px;
}
