.sign-up {
  background-color: white;
  padding: 48px;
  gap: 32px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &-dialog {
    margin-top: 20vh;
  }

  input {
    border: 1px solid #ccc;
    width: 100%;
    height: 32px;
  }
}
